extends ../organismos/_head.pug 
include ../organismos/_mixins.pug
block title
  |Cer/Mantenimiento
block content
  +headerCurso('Mantenimiento')

  .hero-curso.seccion-mantenimiento
    h3.light-color Entrenamiento para el Mantenimiento de Enelar E.S.P

  .cursos-container
    h2 Cursos
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 1', 'Lorem ipsum dolor.')
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 2', 'Lorem ipsum dolor.')
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 3', 'Lorem ipsum dolor.')
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 4', 'Lorem ipsum dolor.')
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 5', 'Lorem ipsum dolor.')
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 6', 'Lorem ipsum dolor.')
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 7', 'Lorem ipsum dolor.')
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 8', 'Lorem ipsum dolor.')
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 9', 'Lorem ipsum dolor.')
    +cursoCard ('imagenes/curso-1-web.jpg', 'Curso 10', 'Lorem ipsum dolor.')
