extends ../organismos/_head.pug 
block title
  |Cer/selecciona la carrerra
block content
  .selection
    a(href="operacion.html").selection-container.operacion
      h1.huge-letter Operación
      img(src="iconos/monitor-white.svg", alt="Operación")
    a(href="mantenimiento.html").selection-container.mantenimiento
      h1.huge-letter Mantenimiento
      img(src="iconos/gear-white.svg", alt="Mantenimiento")
    a(href="sst.html").selection-container.sst
      h1.huge-letter SST
      img(src="iconos/helmet-white.svg", alt="seguridad y salud en el trabajo")

