//  ______ _   _ _____ _____ _____ _   _  _____
//  | ___ \ | | |_   _|_   _|  _  | \ | |/  ___|
//  | |_/ / | | | | |   | | | | | |  \| |\ `--.
//  | ___ \ | | | | |   | | | | | | . ` | `--. \
//  | |_/ / |_| | | |   | | \ \_/ / |\  |/\__/ /
//  \____/ \___/  \_/   \_/  \___/\_| \_/\____/
//

.button {
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: 300ms;
  &:hover {
    transform: scale(0.95);
  }
}

.main-button {
  width: 70%;
  margin: 20px auto;
  padding: 0.3em 0;
  border-radius: 40px;
  background-color: $main-color;
  color: $light-color;
  font-size: 1.5em;
}
.profile-button {
  width: 40%;
  height: 25px;
  border-radius: 20px;
  color: $light-color;
  background-color: $main-color;
}

.hard {
  padding: 2px 30px;
  border-radius: 30px;
  color: $light-color;
  background-color: $error-color;
}
.info {
  width: 30%;
  color: $text-color;
  padding: 0;
  border: 1px solid $text-color;
  border-radius: 30px;
}
