//   _   _  _____  ___ ______ ___________  _____
//  | | | ||  ___|/ _ \|  _  \  ___| ___ \/  ___|
//  | |_| || |__ / /_\ \ | | | |__ | |_/ /\ `--.
//  |  _  ||  __||  _  | | | |  __||    /  `--. \
//  | | | || |___| | | | |/ /| |___| |\ \ /\__/ /
//  \_| |_/\____/\_| |_/___/ \____/\_| \_|\____/

.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 130px;
  margin: 0 auto;
  .image-container {
    width: 115px;
    img {
      width: 100%;
    }
  }
  & span {
    color: $main-color;
    font-size: 3em;
    cursor: pointer;
  }
}
.header-curso {
  display: grid;
  grid-template-columns: 1fr 60px 60px;
  margin: $space;
  height: 61px;
  padding-left: 20px;
  border: 1px solid $main-color;
  border-radius: 100px;
  box-sizing: border-box;
  .material-icons {
    align-self: center;
    justify-self: center;
  }
  &::after {
    content: "";
    width: 60px;
    height: 60px;
    align-self: center;
    justify-self: end;
    border-radius: 50%;
    border: 1px solid $main-color;
    background-image: url(../imagenes/perfil.jpeg);
    background-size: cover;
    background-position: center;
    margin: 0;
    box-sizing: border-box;
  }
}
